<center>
  <div class="container title-box">
    <h1 class='title'>plant me</h1>
  </div>
  <br>

  <div class="container box">
    <div class="row">
      <br>
      <br>
      <%= form_tag plants_search_path, :method => 'get', class: "form-group" do %>

        <div class="col-sm-4 col-md-4 col-lg-4">
          <strong><p class="conditions">Light Conditions</p></strong>
          <%= select_tag "plant[light]", options_for_select([["Bright", 3], ["Medium", 2], ["Low", 1]], "Bright"),  {:class => 'form-control'} %>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
          <strong><p class="conditions">Water Frequency</p></strong>
          <%= select_tag "plant[water]", options_for_select([["High", 3], ["Medium", 2], ["Low", 1]], "High"),  {:class => 'form-control'} %>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
          <strong><p class="conditions">Plant Size</p></strong>
          <%= select_tag "plant[size]", options_for_select([["Large", 3], ["Medium", 2], ["Small", 1]], "Large"),  {:class => 'form-control'} %><br>
        </div>
        <%= submit_tag("Search",  {:class => 'btn btn-primary'}) %>
      <% end %>
    </div>
  </div>
</center>
