

<div class="container center search-box">
  <h1 class='title'>plants search</h1>
</div>
<br>


<div class="container">
  <div class="row">
    <% if @plants.empty? %>
     <div class="box center">
        <h4 class='no-plant'>no plants matching your search</h4>
      </div>
    <% else %>
      <center>
        <% @plants.each do |plant| %>
          <br>
          <div class="col-sm-12 plant-box">
            <div class="col-sm-6 col-md-6 col-lg-6">
             <img src="http://www.scienceclarified.com/photos/plant-3250.jpg" class="tile-image">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
            
            </div>
            <div>
              <h1>
                <a class="tile-title" href="/plants/<%= plant.id %>"><%= plant.name %></a>
              </h1>
            </div>
            
            <div>
              <p>
                <%= plant.description %>
            </p>
          </div>

          <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
              <strong><p>Light needs: <%= light_num_to_name(plant.light_requirement) %>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                 <strong><p>Water Requirement:  <%= water_num_to_name(plant.water_requirement) %>
            
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                 <strong><p>Plant Height: <%= size_num_to_name(plant.max_height) %></p> </strong>
            </div>
          </div>

        </div>
      
        <br>   
        <% end  %>
      </center>
    <% end  %>
  </div>
</div>
<br>
<center>
  <a class="btn btn-primary btn-lg center" href="/" role="button">Back</a>
</center>
<br><br><br><br><br><br><br>